agents/planning/dify/Research Planning Agent.yml
app:
  description: Single-hypothesis Research Planning Agent workflow with evidence normalization,
    evidence briefing, plan skeleton drafting, full plan generation, and final critic/repair.
  icon: 🧭
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: workflow
  name: Research Planning Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.4@72bdf0d70a10b1b9f64746ccd1bd792397598f4536872b310e77532af02ad6a6
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: start-source-normalize-target
      source: start
      sourceHandle: source
      target: normalize_evidence
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: normalize-source-full-plan-target
      source: normalize_evidence
      sourceHandle: source
      target: full_plan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: full-plan-source-final-contract-target
      source: full_plan
      sourceHandle: source
      target: final_contract
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: final-contract-source-end-target
      source: final_contract
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Receives one selected hypothesis evidence package from the local wrapper.
        selected: false
        title: Start
        type: start
        variables:
        - label: task_id
          max_length: 128
          options: []
          required: true
          type: text-input
          variable: task_id
        - label: iteration
          max_length: 32
          options: []
          required: true
          type: number
          variable: iteration
        - label: hypothesis_id
          max_length: 128
          options: []
          required: true
          type: text-input
          variable: hypothesis_id
        - label: question_card
          max_length: 20000
          options: []
          required: true
          type: paragraph
          variable: question_card
        - label: hypothesis_evidence_package
          max_length: 50000
          options: []
          required: true
          type: paragraph
          variable: hypothesis_evidence_package
        - label: planning_constraints
          max_length: 12000
          options: []
          required: false
          type: paragraph
          variable: planning_constraints
        - label: user_constraints
          max_length: 12000
          options: []
          required: false
          type: paragraph
          variable: user_constraints
      height: 325
      id: start
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef _loads(value, default):\n    if value is None or\
          \ value == \"\":\n        return default\n    if isinstance(value, (dict,\
          \ list)):\n        return value\n    try:\n        return json.loads(value)\n\
          \    except Exception:\n        return default\n\ndef _as_list(value):\n\
          \    return value if isinstance(value, list) else []\n\ndef _compact_literature(item):\n\
          \    return {\n        \"literature_id\": item.get(\"literature_id\", \"\
          unknown\"),\n        \"title\": item.get(\"title\", \"unknown\"),\n    \
          \    \"authors\": _as_list(item.get(\"authors\")),\n        \"year\": item.get(\"\
          year\", \"unknown\"),\n        \"doi\": item.get(\"doi\", \"\"),\n     \
          \   \"url\": item.get(\"url\", \"\"),\n    }\n\ndef _compact_evidence(item,\
          \ direction):\n    return {\n        \"direction\": direction,\n       \
          \ \"evidence_id\": item.get(\"evidence_id\", \"unknown\"),\n        \"claim\"\
          : item.get(\"claim\", \"\"),\n        \"summary\": item.get(\"summary\"\
          , \"\"),\n        \"source_literature_id\": item.get(\"source_literature_id\"\
          , \"\"),\n        \"support_direction\": item.get(\"support_direction\"\
          , direction),\n        \"strength_score\": item.get(\"strength_score\",\
          \ 0),\n    }\n\ndef main(question_card: str, hypothesis_id: str, hypothesis_evidence_package:\
          \ str, planning_constraints: str = \"\", user_constraints: str = \"\") ->\
          \ dict:\n    question = _loads(question_card, {})\n    package = _loads(hypothesis_evidence_package,\
          \ {})\n    constraints = _loads(planning_constraints, {})\n    user = _loads(user_constraints,\
          \ {})\n    evidence_subset = package.get(\"evidence_subset\", {}) if isinstance(package,\
          \ dict) else {}\n\n    evidence_rows = []\n    for key, direction in (\n\
          \        (\"supporting_evidence\", \"supporting\"),\n        (\"opposing_evidence\"\
          , \"opposing\"),\n        (\"uncertain_evidence\", \"uncertain\"),\n   \
          \ ):\n        for item in _as_list(evidence_subset.get(key)):\n        \
          \    if isinstance(item, dict):\n                evidence_rows.append(_compact_evidence(item,\
          \ direction))\n\n    source_literature = [\n        _compact_literature(item)\n\
          \        for item in _as_list(package.get(\"source_literature\"))\n    \
          \    if isinstance(item, dict)\n    ]\n    knowledge_gaps = [\n        item.get(\"\
          description\", str(item)) if isinstance(item, dict) else str(item)\n   \
          \     for item in _as_list(package.get(\"knowledge_gaps\"))\n    ]\n\n \
          \   normalized = {\n        \"task_scope\": {\n            \"hypothesis_id\"\
          : hypothesis_id or package.get(\"hypothesis_id\", \"unknown\"),\n      \
          \      \"core_question\": question.get(\"core_question\", \"unknown\"),\n\
          \            \"domain\": question.get(\"domain\", []),\n            \"research_object\"\
          : question.get(\"research_object\", {}),\n            \"hypothesis\": package.get(\"\
          hypothesis\", \"unknown\"),\n            \"rationale\": package.get(\"rationale\"\
          , \"\"),\n            \"target_variables\": package.get(\"target_variables\"\
          , []),\n            \"expected_observation\": package.get(\"expected_observation\"\
          , \"\"),\n            \"validation_idea\": package.get(\"validation_idea\"\
          , \"\"),\n        },\n        \"scores\": package.get(\"scores\", {}),\n\
          \        \"evidence_rows\": evidence_rows,\n        \"source_literature\"\
          : source_literature,\n        \"knowledge_gaps\": knowledge_gaps,\n    \
          \    \"limitations\": package.get(\"limitations\", []),\n        \"needs_more_evidence\"\
          : bool(package.get(\"needs_more_evidence\", False)),\n        \"planning_constraints\"\
          : constraints,\n        \"user_constraints\": user,\n        \"guardrails\"\
          : {\n            \"allowed_evidence_ids\": [row.get(\"evidence_id\") for\
          \ row in evidence_rows],\n            \"allowed_source_ids\": [item.get(\"\
          literature_id\") for item in source_literature],\n            \"forbidden_actions\"\
          : constraints.get(\"forbidden_actions\", []),\n            \"allowed_validation_types\"\
          : constraints.get(\"allowed_validation_types\", []),\n        },\n    }\n\
          \    return {\"normalized_evidence_context\": json.dumps(normalized, ensure_ascii=False)}\n"
        code_language: python3
        desc: Parses the single hypothesis package and produces a compact evidence
          table for downstream LLM nodes.
        outputs:
          normalized_evidence_context:
            children: null
            type: string
        selected: true
        title: Normalize Evidence Context
        type: code
        variables:
        - value_selector:
          - start
          - question_card
          variable: question_card
        - value_selector:
          - start
          - hypothesis_id
          variable: hypothesis_id
        - value_selector:
          - start
          - hypothesis_evidence_package
          variable: hypothesis_evidence_package
        - value_selector:
          - start
          - planning_constraints
          variable: planning_constraints
        - value_selector:
          - start
          - user_constraints
          variable: user_constraints
      height: 112
      id: normalize_evidence
      position:
        x: 380
        y: 240
      positionAbsolute:
        x: 380
        y: 240
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Expands the selected A/B design directly into the final single-hypothesis plan_result.
        model:
          completion_params:
            enable_thinking: false
            max_tokens: 8192
            response_format: json_object
            temperature: 0.15
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system_prompt
          role: system
          text: '你是 Research Planning Agent，负责为一个候选科学假设生成完整研究计划。

            当前 Workflow 一次只处理一个 hypothesis，批量选择和汇总由本地 wrapper 完成。

            normalized_evidence_context.planning_constraints 可能包含 Workflow B 已接受的 selected_design 和 design_selection。

            若 selected_design 存在，必须以它为方案基线，只补齐执行步骤、统计分析、证伪标准、资源约束和反馈任务；不得重新发散方案或改变 hypothesis 含义。

            若 selected_design 不存在，则按 C-only 兼容路径，从 hypothesis、evidence_rows、validation_idea 和约束直接生成计划。

            你必须只输出一个严格 JSON 对象，且该对象是单个 plan_result。

            不要 Markdown，不要代码块，不要解释文字，不要输出 plans 数组。

            不要编造不存在的文献、数据集 URL、实验结果或已经完成的实验。

            顶层 schema_version 必须是 experiment_planner_plan_result_v1。

            顶层 agent_name 必须是 ExperimentPlannerAgent。

            顶层 hypothesis_id 必须等于输入 hypothesis_id。

            references 只能来自 normalized_evidence_context.source_literature。

            rationale.logic_chain[].evidence_ids 只能来自 normalized_evidence_context.guardrails.allowed_evidence_ids。

            rationale.logic_chain[].source_ids 和 references[].source_id 只能来自 normalized_evidence_context.guardrails.allowed_source_ids。

            如果 needs_more_evidence 为 true，必须生成 feedback_tasks。

            成功时 error_message 使用空字符串。

            '
        - id: user_prompt
          role: user
          text: 'task_id: {{#start.task_id#}}

            iteration: {{#start.iteration#}}

            hypothesis_id: {{#start.hypothesis_id#}}


            normalized_evidence_context:

            {{#normalize_evidence.normalized_evidence_context#}}


            请优先读取 normalized_evidence_context.planning_constraints.selected_design，直接将选中设计扩展成最终计划。

            保留选中设计的 candidate_id、设计类型、变量、基线、指标、步骤和证伪逻辑；仅补齐最终 schema 所需细节。


            输出必须是单个 experiment_planner_plan_result_v1 JSON，plan 必须包含：

            problem_statement, rationale, technical_details, datasets, paper_title,
            paper_abstract, methods, experiments, results, references, feedback_tasks,
            limitations。

            '
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              agent_name:
                enum:
                - ExperimentPlannerAgent
                type: string
              error_message:
                type: string
              hypothesis_id:
                type: string
              iteration:
                type: number
              plan:
                additionalProperties: false
                properties:
                  datasets:
                    additionalProperties: false
                    properties:
                      source:
                        items:
                          type: string
                        type: array
                      target:
                        items:
                          type: string
                        type: array
                    required:
                    - source
                    - target
                    type: object
                  experiments:
                    additionalProperties: false
                    properties:
                      ablation_or_sensitivity_analysis:
                        items:
                          type: string
                        type: array
                      baselines:
                        items:
                          type: string
                        type: array
                      main_experiment:
                        additionalProperties: true
                        type: object
                      metrics:
                        items:
                          type: string
                        type: array
                      procedure:
                        items:
                          type: string
                        type: array
                    required:
                    - main_experiment
                    - baselines
                    - metrics
                    - procedure
                    - ablation_or_sensitivity_analysis
                    type: object
                  feedback_tasks:
                    items:
                      additionalProperties: false
                      properties:
                        expected_output:
                          type: string
                        input_requirements:
                          items:
                            type: string
                          type: array
                        objective:
                          type: string
                        priority:
                          enum:
                          - high
                          - medium
                          - low
                          type: string
                        task_id:
                          type: string
                        task_type:
                          enum:
                          - literature_supplement
                          - evidence_collection
                          - hypothesis_refinement
                          - validation_design
                          - other
                          type: string
                      required:
                      - task_id
                      - task_type
                      - priority
                      - objective
                      - input_requirements
                      - expected_output
                      type: object
                    type: array
                  limitations:
                    items:
                      type: string
                    type: array
                  methods:
                    additionalProperties: false
                    properties:
                      overall_design:
                        type: string
                      steps:
                        items:
                          additionalProperties: false
                          properties:
                            description:
                              type: string
                            inputs:
                              items:
                                type: string
                              type: array
                            outputs:
                              items:
                                type: string
                              type: array
                            step_id:
                              type: string
                          required:
                          - step_id
                          - description
                          - inputs
                          - outputs
                          type: object
                        type: array
                    required:
                    - overall_design
                    - steps
                    type: object
                  paper_abstract:
                    type: string
                  paper_title:
                    type: string
                  problem_statement:
                    type: string
                  rationale:
                    additionalProperties: false
                    properties:
                      logic_chain:
                        items:
                          additionalProperties: false
                          properties:
                            claim:
                              type: string
                            evidence_ids:
                              items:
                                type: string
                              type: array
                            source_ids:
                              items:
                                type: string
                              type: array
                            step:
                              type: number
                          required:
                          - step
                          - claim
                          - evidence_ids
                          - source_ids
                          type: object
                        type: array
                      text:
                        type: string
                    required:
                    - text
                    - logic_chain
                    type: object
                  references:
                    items:
                      additionalProperties: false
                      properties:
                        authors:
                          items:
                            type: string
                          type: array
                        doi:
                          type: string
                        source_id:
                          type: string
                        title:
                          type: string
                        url:
                          type: string
                        used_for:
                          items:
                            type: string
                          type: array
                        year:
                          type: string
                      required:
                      - source_id
                      - title
                      - authors
                      - year
                      - doi
                      - url
                      - used_for
                      type: object
                    type: array
                  results:
                    additionalProperties: false
                    properties:
                      expected_findings:
                        items:
                          type: string
                        type: array
                      falsification_criteria:
                        items:
                          type: string
                        type: array
                      feasibility_check:
                        type: string
                      result_type:
                        enum:
                        - expected_or_feasibility_result
                        - planned_evaluation_result
                        - unknown
                        type: string
                    required:
                    - result_type
                    - expected_findings
                    - feasibility_check
                    - falsification_criteria
                    type: object
                  technical_details:
                    additionalProperties: false
                    properties:
                      candidate_models_or_algorithms:
                        items:
                          type: string
                        type: array
                      required_methods:
                        items:
                          type: string
                        type: array
                      software_stack:
                        items:
                          type: string
                        type: array
                      statistical_tests:
                        items:
                          type: string
                        type: array
                    required:
                    - required_methods
                    - candidate_models_or_algorithms
                    - statistical_tests
                    - software_stack
                    type: object
                required:
                - problem_statement
                - rationale
                - technical_details
                - datasets
                - paper_title
                - paper_abstract
                - methods
                - experiments
                - results
                - references
                - feedback_tasks
                - limitations
                type: object
              schema_version:
                enum:
                - experiment_planner_plan_result_v1
                type: string
              status:
                enum:
                - success
                - partial_success
                - failed
                type: string
              task_id:
                type: string
            required:
            - schema_version
            - agent_name
            - task_id
            - iteration
            - hypothesis_id
            - status
            - error_message
            - plan
            type: object
        structured_output_enabled: true
        title: Generate Final Plan Fast
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: full_plan
      position:
        x: 1280
        y: 240
      positionAbsolute:
        x: 1280
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def _loads(value, default):
              if isinstance(value, (dict, list)):
                  return value
              try:
                  return json.loads(value or "")
              except Exception:
                  return default

          def _as_list(value):
              return value if isinstance(value, list) else []

          def _string_ids(values):
              return {value for value in _as_list(values) if isinstance(value, str) and value}

          def main(plan_payload: dict, normalized_evidence_context: str,
                   task_id: str, iteration: int, hypothesis_id: str) -> dict:
              plan_result = _loads(plan_payload, {})
              context = _loads(normalized_evidence_context, {})
              issues = []
              if not isinstance(plan_result, dict):
                  plan_result = {}
                  issues.append("plan_result must be an object")
              if not isinstance(context, dict):
                  context = {}
              normalized_identity_fields = []
              expected_identity = {
                  "schema_version": "experiment_planner_plan_result_v1",
                  "agent_name": "ExperimentPlannerAgent",
                  "task_id": task_id,
                  "iteration": iteration,
                  "hypothesis_id": hypothesis_id
              }
              for field, expected in expected_identity.items():
                  if plan_result.get(field) != expected:
                      normalized_identity_fields.append(field)
                  plan_result[field] = expected

              plan = plan_result.get("plan")
              if not isinstance(plan, dict):
                  plan = {}
                  plan_result["plan"] = plan
                  issues.append("plan must be an object")

              guardrails = context.get("guardrails", {})
              if not isinstance(guardrails, dict):
                  guardrails = {}
              allowed_evidence = _string_ids(guardrails.get("allowed_evidence_ids"))
              allowed_sources = _string_ids(guardrails.get("allowed_source_ids"))
              referenced_evidence = set()
              referenced_sources = set()

              rationale = plan.get("rationale", {})
              if isinstance(rationale, dict):
                  for item in _as_list(rationale.get("logic_chain")):
                      if isinstance(item, dict):
                          referenced_evidence.update(_string_ids(item.get("evidence_ids")))
                          referenced_sources.update(_string_ids(item.get("source_ids")))
              for item in _as_list(plan.get("references")):
                  if isinstance(item, dict):
                      source_id = item.get("source_id")
                      if isinstance(source_id, str) and source_id:
                          referenced_sources.add(source_id)

              unknown_evidence_ids = sorted(referenced_evidence - allowed_evidence)
              unknown_source_ids = sorted(referenced_sources - allowed_sources)
              if unknown_evidence_ids:
                  issues.append("unknown evidence_ids: " + ", ".join(unknown_evidence_ids))
              if unknown_source_ids:
                  issues.append("unknown source_ids: " + ", ".join(unknown_source_ids))
              if issues:
                  plan_result["status"] = "failed"
                  plan_result["error_message"] = "; ".join(issues)
              report = {
                  "passed": not issues,
                  "issues": issues,
                  "normalized_identity_fields": normalized_identity_fields,
                  "allowed_evidence_count": len(allowed_evidence),
                  "allowed_source_count": len(allowed_sources),
                  "unknown_evidence_ids": unknown_evidence_ids,
                  "unknown_source_ids": unknown_source_ids
              }
              return {
                  "plan_result": json.dumps(plan_result, ensure_ascii=False),
                  "contract_report": json.dumps(report, ensure_ascii=False)
              }
        code_language: python3
        desc: Normalizes identity fields and validates final evidence/source references against deterministic allowlists.
        outputs:
          contract_report:
            children: null
            type: string
          plan_result:
            children: null
            type: string
        selected: false
        title: Normalize Final Plan Contract
        type: code
        variables:
        - value_selector:
          - full_plan
          - structured_output
          variable: plan_payload
        - value_selector:
          - normalize_evidence
          - normalized_evidence_context
          variable: normalized_evidence_context
        - value_selector:
          - start
          - task_id
          variable: task_id
        - value_selector:
          - start
          - iteration
          variable: iteration
        - value_selector:
          - start
          - hypothesis_id
          variable: hypothesis_id
      height: 148
      id: final_contract
      position:
        x: 1880
        y: 240
      positionAbsolute:
        x: 1880
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Returns the normalized final plan_result and contract report.
        outputs:
        - value_selector:
          - final_contract
          - plan_result
          variable: plan_result
        - value_selector:
          - final_contract
          - contract_report
          variable: contract_report
        selected: false
        title: End
        type: end
      height: 132
      id: end
      position:
        x: 2200
        y: 240
      positionAbsolute:
        x: 2200
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -482.6324456507946
      y: 235.80870671523553
      zoom: 0.9803467566080696
  rag_pipeline_variables: []
